/**
 * @name         Glassmorphism Animated
 * @description  Glassmorphism by Cluarain. Animated background
 * @author       Cluarain
 * @version      1.1
 * @source       https://github.com/Cluarain/glassmorphism-discord-theme
*/

@import url(https://cluarain.github.io/glassmorphism-discord-theme/main.css);

:root {

  --bg-scretch-center: no-repeat center center / cover;
  --bg-fit-center: no-repeat center center / contain;

  /* any pics */
  --bg-image-1: var(--bg-scretch-center) url(https://cdn.svgator.com/images/2022/06/animated-svg-background-css.svg);
  --bg-image-2: url(https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg);
  --bg-image-3: var(--bg-scretch-center) url(https://i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif);
  --bg-image-4: var(--bg-scretch-center) url(https://wallpapercave.com/wp/wp12850275.gif);

  /* animation keyframes + duration  */
  --bg-animation: changeBg 120s infinite
}

@keyframes changeBg {

  0%,
  24.99% {
    background: var(--bg-image-1);

    /* filter if needed 
    * https://cssgenerator.org/filter-css-generator.html 
    */
    --bg-filter: hue-rotate(270deg) saturate(2) invert(1);
  }

  25%,
  49.99% {
    background: var(--bg-image-2);
    --bg-filter: none;
  }

  50%,
  74.99% {
    background: var(--bg-image-3);
    --bg-filter: none;
  }

  75%,
  99.99% {
    background: var(--bg-image-4);
    --bg-filter: none;
  }
}

.content_c48ade::before {
  animation: var(--bg-animation);
}