/**
 * @name         Glassmorphism Static
 * @description  Glassmorphism by Cluarain. Static background
 * @author       Cluarain
 * @version      1.9
 * @source       https://github.com/Cluarain/glassmorphism-discord-theme
*/

@import url(https://cluarain.github.io/glassmorphism-discord-theme/main.css?1.9);

:root {
  --bg-scretch-center: no-repeat center center / cover;
  --bg-fit-center: no-repeat center center / contain;

  /* --bg-image: var(--bg-scretch-center) url(https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg); */
  --bg-image: var(--bg-scretch-center) url(https://i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif);
  /* --bg-image: var(--bg-scretch-center) url(https://i.pinimg.com/originals/89/c4/1b/89c41b5719cee78af952def438761e11.gif); */
  /* --bg-image: var(--bg-scretch-center) url(https://i.pinimg.com/originals/01/14/6c/01146c1a96e0b57e93af85ded9d03067.gif);  */
  /* --bg-image: var(--bg-scretch-center) url(https://i.pinimg.com/originals/d3/aa/fa/d3aafa251a632830b35523c8407e77fd.gif); */
  /* --bg-image: var(--bg-scretch-center) url(https://i.pinimg.com/originals/e0/c4/d5/e0c4d53f3f0dc57c1a7d1b6baaf54cfe.jpg); */

  /* filter if needed 
    * https://cssgenerator.org/filter-css-generator.html 
    */
  --bg-filter: saturate(150%);


  /* only RGB, not RGBa */
  /* --main-bg-rgb: 0, 20, 101; */
  --main-bg-rgb: 0, 50, 55;
  /* --main-bg-rgb: 0, 0, 0; */
  /* --main-bg-rgb: 20, 20, 20; */

  --main-bg-opacity: 0.3;

  --main-border-color: 255, 255, 255;
  --main-bg-shadow-color: 0, 0, 0;
  --main-bg-shadow-opacity: 0.3;

  --bg-transparent-1: rgba(var(--main-bg-rgb), var(--main-bg-opacity));
  --border-glass-1: 2px solid rgba(var(--main-border-color), 0.2);
  --shadow-glass-1: 0 0 50px rgba(var(--main-bg-shadow-color), var(--main-bg-shadow-opacity));
  --borderRadius-glass-1: 10px;
  --blur-glass-1: blur(7px);

  --bg-transparent-2: rgba(var(--main-bg-rgb), calc(var(--main-bg-opacity) + .2));
  --border-glass-2: 2px solid rgba(var(--main-border-color), 0.1);
  --shadow-glass-2: 0 0 30px rgba(var(--main-bg-shadow-color), var(--main-bg-shadow-opacity));
  --borderRadius-glass-2: 7px;
  --blur-glass-2: blur(20px);

  --bg-transparent-3: rgba(var(--main-bg-rgb), calc(var(--main-bg-opacity) + .3));
  --border-glass-3: 1px solid rgba(var(--main-border-color), 0.1);
  --shadow-glass-3: 0 2px 10px rgba(var(--main-bg-shadow-color), var(--main-bg-shadow-opacity));
  --blur-glass-3: blur(2px);

  --bg-transparent-4: rgba(var(--main-bg-rgb), calc(var(--main-bg-opacity) + .4));
  --shadow-glass-4: -5px 0px 10px rgba(var(--main-bg-shadow-color), var(--main-bg-shadow-opacity));
  --blur-glass-4: blur(30px);

  --text-custom-main: rgba(255, 255, 255, .8);
  --text-custom-muted: rgba(255, 255, 255, .6);
  /* --text-custom-muted: rgba(var(--main-bg-rgb), .5); */
  --text-custom-muted-2: color-mix(in srgb, rgb(var(--main-bg-rgb)) 10%, #ffffff);

  --icons-color-main: rgba(255, 255, 255, .7);
  --icons-color-inactive: rgba(255, 255, 255, .4);
  --main-accent-color-discord: rgba(var(--main-bg-rgb), .8);

  /* --hover-active-color: color-mix(in srgb, var(--main-accent-color-discord) 80%, transparent); */
  --hover-active-color: rgba(255, 255, 255, .1);
}