:root {
  --main-padding: 2rem;
  --main-gap: 1.5rem;
  --padding-guilds: 1rem;


  --text-main: rgba(255, 255, 255, .8);

  /* --text-main: rgba(0, 0, 0, .8); */
  --neutral-5: rgba(255, 255, 255, .9) !important;

  --text-tertiary: var(--text-main) !important;
  --channels-default: var(--text-main) !important;
  --text-muted: rgba(255, 255, 255, .5) !important;

  --icons-color-main: rgba(255, 255, 255, .5) !important;

  --background-surface-higher: rgba(0, 0, 0, .3) !important;
  /* --background-mod-subtle: rgba(0, 0, 0, .3) !important; */

  --bg-transparent-1: rgba(39, 39, 39, .1);
  --border-glass-1: 2px solid rgba(255, 255, 255, .2);
  --shadow-glass-1: 0 0 50px rgba(0, 0, 0, .3);
  --borderRadius-glass-1: 10px;
  --blur-glass-1: blur(5px);

  --bg-transparent-2: rgba(39, 39, 39, 0.2);
  --border-glass-2: 2px solid rgba(255, 255, 255, .1);
  --shadow-glass-2: 0 0 30px rgba(0, 0, 0, 0.5);
  --borderRadius-glass-2: 7px;
  --blur-glass-2: blur(20px);

  --bg-transparent-3: rgba(39, 39, 39, .3);
  --border-glass-3: 1px solid rgba(255, 255, 255, .1);
  --shadow-glass-3: 0 2px 10px rgba(0, 0, 0, .5);
  --blur-glass-3: blur(2px);

  --shadow-glass-4: -5px 0px 10px rgba(0, 0, 0, .5);
  --gap-glass-1: 1rem;
  
  --neutral-79: transparent;
  /* --neutral-80: transparent; */
  --neutral-81: transparent;
  --neutral-82: transparent;
  --neutral-86: transparent;
  --neutral-92: transparent;

}

.scroller__99e7c {
  margin: 0 !important;
}

.content_c48ade {
  padding: calc(var(--main-padding)/2) var(--main-padding) var(--main-padding) var(--main-padding) !important;

  /* Чтобы не обрезелась тень */
  &>div {
    overflow: visible !important;
    height: 94vh !important;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg-image);
    filter: var(--bg-filter);
  }
}

.bar_c38106 {
  z-index: 1;
  border-bottom: var(--border-glass-3);
  background: var(--bg-transparent-3);
  backdrop-filter: var(--blur-glass-3);
}

.guilds_c48ade,
.page_c48ade,
.panels_c48ade,
.sidebarList_c48ade,
.experimentWrapper__1405b>div {
  margin: 0 !important;
  background: var(--bg-transparent-1) !important;
  border: var(--border-glass-1) !important;
  box-shadow: var(--shadow-glass-1) !important;
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-1) !important;
  flex: none !important;
}

.layerContainer_da8173>div>div>div,
.buttonsInner__5126c,
.participantsButton__211d1,
.popout_af3b89,
.tile_d6271c,
.embedFull__623de,
.menu_c1e9c4,
.channelTextArea_f75fb0,
div[role="dialog"]>div,
.drawerSizingWrapper__08434,
.messageGroupWrapper__45690 {
  background: var(--bg-transparent-2);
  border: var(--border-glass-1) !important;
  box-shadow: var(--shadow-glass-2) !important;
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-2) !important;
}

.itemCard__7e549,
.searchBar__5ec2f {
  background: var(--bg-transparent-3);
  border: var(--border-glass-2) !important;
  border-radius: var(--borderRadius-glass-1) !important;
}

.item_b3f026 {
  /* border: var(--border-glass-2) !important; */
}


.channelTextArea_f75fb0 {
  background: var(--bg-transparent-3) !important;
}

/* для автовысоты каналов */
.content__99f8c {
  height: auto !important;
}

/* Для некоторых заголовков */
.actionRow__6981d,
.header__49fc1 {
  margin-bottom: 1rem;
}

.form_f75fb0 {
  padding: 0 !important;
  margin: 0 calc(var(--gap-glass-1)*2) 0 !important;
}

.sidebar_c48ade {
  grid-template-columns: var(--custom-guild-list-width) auto !important;
  gap: 0 calc(var(--main-gap));
  margin-right: var(--main-gap);


  &>.guilds_c48ade {
    padding-top: var(--padding-guilds) !important;
    height: fit-content;
    max-height: calc(100% - 215px - var(--padding-guilds) - var(--main-gap)) !important;
  }

  &>.sidebarList_c48ade {
    height: fit-content;
    max-height: calc(100% - 215px - var(--main-gap)) !important;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--main-gap));
    padding-bottom: 0 !important;

    &>.container__2637a {
      padding-bottom: 0 !important;
    }
  }

  &>.sidebarResizeHandle_c48ade {
    transform: translate(var(--main-gap), 0) !important;
  }

  &>.panels_c48ade {
    position: none !important;
    width: calc(var(--custom-guild-sidebar-width));
    left: 0 !important;
    bottom: 0 !important;
    max-height: fit-content;
    box-sizing: content-box;
  }
}

.wrapper_cb9592,
.guildSeparator__252b6,
.panel__5dec7,
.header__45690 {
  border-bottom: var(--border-glass-1) !important;
  background: var(--bg-transparent-2) !important;
  /* border-radius: var(--borderRadius-glass-2); */
}


.container_f37cb1,
.container__9293f,
.searchBar__35e86 {
  border-bottom: var(--border-glass-1) !important;
}

.container_c8ffbb {
  border-left: var(--border-glass-1) !important;
  background: var(--bg-transparent-2) !important;

  border-bottom-right-radius: var(--borderRadius-glass-1);
}

.sourceScroller_a2de16,
.footer__49fc1 {
  border-top: var(--border-glass-1) !important;
  background: var(--bg-transparent-2) !important;
  margin-top: 1rem;
}

/* костыльный прозрачный фон за текстовым полем */
.scroller__36d07 {
  height: calc(100% + 5rem) !important;
  padding-bottom: 5rem !important;
}

.container__9293f,
.callContainer_cb9592,
.subtitleContainer_f75fb0 {
  border-top-left-radius: var(--borderRadius-glass-1);
  border-top-right-radius: var(--borderRadius-glass-1);
}

.chat_f75fb0 {
  border-radius: var(--borderRadius-glass-1);
}

.callContainer_cb9592 {
  border: none !important;
}

.container__2637a,
.children__9293f:after,
.sidebar_c48ade:after {
  background: none !important;
}

.joinButton__5aa3a {
  color: var(--text-main) !important;
  border: var(--border-glass-1) !important;
}

.muted__20a53,
*::placeholder {
  color: var(--text-muted) !important;
}

.placeholder__1b31f {
  font-weight: 500;
  color: var(--text-muted) !important;
}

.icon__2ea32,
.linkButtonIcon__972a0,
.icon__9293f {
  color: var(--icons-color-main) !important;
}