/**
 * @name         Glassmorphism Static
 * @description  Glassmorphism by Cluarain. Static background
 * @author       Cluarain
 * @version      1.0
 * @source       https://github.com/Cluarain/glassmorphism-discord-theme
*/

@import url('https://raw.githubusercontent.com/Cluarain/glassmorphism-discord-theme/refs/heads/main/main.css');
/* @import url('https://DiscordStyles.github.io/DarkMatter/src/base.css'); */

:root {
  --bg-scretch-center: no-repeat center center / cover;
  --bg-fit-center: no-repeat center center / contain;
  --bg-image: url(https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg);
}