/* 
 * Cluarain`s custom codebase for rewrite Discords`s rules
 */

:root {
  --main-padding: 1rem;
  --main-gap: 1rem;
  --padding-guilds: 1rem;

  --text-main: var(--text-custom-main) !important;
  --text-tertiary: var(--text-custom-main) !important;
  --channels-default: var(--text-custom-main) !important;

  --text-muted: var(--text-custom-muted) !important;

  --icon-primary: var(--icons-color-main) !important;
  --icon-tertiary: var(--icons-color-inactive) !important;

  --gap-glass-1: 1rem;
  --radius-xs: var(--borderRadius-glass-2) !important;
  --radius-md: var(--borderRadius-glass-2) !important;
  --radius-lg: var(--borderRadius-glass-1) !important;

  --background-mod-subtle: transparent;
  --background-surface-high: var(--bg-transparent-1) !important;
  --background-floating: transparent;
  --background-modifier-accent: transparent;

  --black: transparent;
  --blurple-34: var(--main-accent-color-discord);
  --blurple-35: var(--main-accent-color-discord);

  --blurple-49: var(--main-accent-color-discord);
  --blurple-50: var(--main-accent-color-discord);
  --blurple-59: var(--hover-active-color) !important;
  --blurple-65: var(--hover-active-color) !important;

  --neutral-5: rgba(255, 255, 255, .9) !important;
  --neutral-23: var(--icons-color-main) !important;
  --neutral-27: var(--icons-color-main) !important;
  --neutral-29: var(--text-custom-muted-2);
  --neutral-34: var(--text-custom-muted);

  /* scrollbar-color 42 44 */
  --neutral-42: rgba(var(--main-border-color), 0.2);
  --neutral-44: rgba(var(--main-border-color), 0.2);

  --neutral-49: transparent;
  --neutral-64: transparent;
  /* rgba(var(--main-border-color), 0.2); */
  --neutral-65: transparent;
  --neutral-69: transparent;
  --neutral-72: transparent;
  --neutral-73: transparent;
  --neutral-76: transparent;
  --neutral-79: transparent;
  --neutral-80: transparent;
  --neutral-81: transparent;
  --neutral-82: transparent;
  --neutral-83: transparent;
  --neutral-86: transparent;
  --neutral-91: transparent;
  --neutral-92: transparent;
  --neutral-95: var(--bg-transparent-3);
  --neutral-97: transparent;

  --border-subtle: rgba(var(--main-border-color), 0.2) !important;
  /* --theme-base-color-hsl: rgb(0, 255, 0);
  --theme-border-color-amount: rgb(255, 0, 0);
  --theme-base-color-amount: rgb(0, 0, 255); */
  /* прозрачность для карточки пользователя */
  /* --plum-15: transparent; */
  --plum-18: var(--bg-transparent-2);

  --button-filled-white-text: black !important;
}

.visual-refresh .theme-darker,
.visual-refresh.theme-darker {
  --background-modifier-hover: var(--hover-active-color);
  --background-modifier-active: var(--hover-active-color);

  --black-500: transparent;
  --redesign-input-control-selected: rgba(var(--main-border-color), 0.2) !important;

}

.scroller__99e7c {
  margin: 0 !important;
}

.base_c48ade {
  grid-template-areas:
    "titleBar titleBar titleBar"
    "notice notice notice"
    "guildsList channelsList page" !important;
}

.content_c48ade {
  padding: var(--main-padding) !important;

  /* Чтобы не обрезелась тень */
  &>div {
    overflow: visible !important;
    height: 94vh !important;
  }
}

.appMount__51fd7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-image);
  filter: var(--bg-filter);
}

.bar_c38106 {
  z-index: 99999;
  border-bottom: var(--border-glass-3);
  background: var(--bg-transparent-3);
  backdrop-filter: var(--blur-glass-3);
}

.layerContainer_da8173 .tooltipPointer__382e7 {
  display: none !important;
}

/* Для некоторых заголовков */
.actionRow__6981d,
.header__49fc1 {
  margin-bottom: 1rem;
}

.form_f75fb0 {
  padding: 0 !important;
  margin: 0 calc(var(--gap-glass-1)*2) 0 !important;
}

.sidebar_c48ade {
  grid-template-columns: var(--custom-guild-list-width) auto !important;
  gap: 0 calc(var(--main-gap));
  margin-right: var(--main-gap);


  &>.guilds_c48ade {
    padding-top: var(--padding-guilds) !important;
    height: fit-content;
    max-height: calc(100% - 215px - var(--padding-guilds) - var(--main-gap)) !important;
    overflow-y: auto;
    scrollbar-width: none;
  }

  &>.sidebarList_c48ade {
    height: fit-content;
    max-height: calc(100% - 215px - var(--main-gap)) !important;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--main-gap));
    padding-bottom: 0 !important;

    &>.container__2637a {
      padding-bottom: 0 !important;
    }
  }

  &>.sidebarResizeHandle_c48ade {
    transform: translate(var(--main-gap), 0) !important;
  }

  &>.panels_c48ade {
    position: none !important;
    width: calc(var(--custom-guild-sidebar-width));
    left: 0 !important;
    bottom: 0 !important;
    max-height: fit-content;
    box-sizing: content-box;
  }
}

.visual-refresh {

  .guilds_c48ade,
  .page_c48ade,
  .panels_c48ade,
  .sidebarList_c48ade,
  .experimentWrapper__1405b>div {
    background: var(--bg-transparent-1);
    border: var(--border-glass-1);
    box-shadow: var(--shadow-glass-1);
    border-radius: var(--borderRadius-glass-1);
    backdrop-filter: var(--blur-glass-1);
    flex: none;
  }

  .page_c48ade {
    height: calc(100svh - 4rem) !important;
  }

  .autocomplete__13533,
  .positionContainer__31a96,
  /* .rootWithShadow__49fc1, */
  .modal__487be,
  .addFriendInputWrapper__72ba7,
  .bd-addon-card,
  .bd-modal-root,
  .container__3a5a1,
  .buttonsInner__5126c,
  .participantsButton__211d1,
  .tile_d6271c,
  .channelTextArea_f75fb0,
  /* .messageGroupWrapper__45690  */
  .drawerSizingWrapper__08434 {
    background: var(--bg-transparent-2);
    border: var(--border-glass-1) !important;
    border-radius: var(--borderRadius-glass-1);
    backdrop-filter: var(--blur-glass-2);
  }

  .focusLock__49fc1>div,
  .menu_c1e9c4,
  .tooltip__382e7,
  .outer_c0bea0:not(.user-profile-sidebar, .user-profile-modal),
  [id*="popout_"]:not(:has(.menu_c1e9c4, .outer_c0bea0, .focusLock__49fc1)) {
    border-radius: var(--borderRadius-glass-1);
    /* background: var(--bg-transparent-2); */
    background: var(--bg-transparent-1);
    border: var(--border-glass-1);
    /* z-index: 1; */

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      backdrop-filter: var(--blur-glass-2);
      border-radius: var(--borderRadius-glass-1);
      box-shadow: var(--shadow-glass-2);
    }
  }

  .modal__487be,
  #emoji-picker-tab-panel,
  .drawerSizingWrapper__08434,
  .channelTextArea_f75fb0,
  .autocomplete__13533 {
    background: rgba(var(--main-bg-rgb));
  }

  .tooltip__382e7 {
    backdrop-filter: var(--blur-glass-2);
  }

  .container__0f2e8,
  .itemCard__7e549,
  .searchBar__5ec2f {
    border: var(--border-glass-2);
    border-radius: var(--borderRadius-glass-1);
  }

  .jumpToPresentBar__0f481 {
    background: var(--bg-transparent-4);
    border: var(--border-glass-2);
    box-shadow: var(--shadow-glass-2);
    border-radius: var(--borderRadius-glass-1);
    backdrop-filter: var(--blur-glass-4);
  }

  .container__01ae2 {
    border-top: none;
    border-left: var(--border-glass-1);
    border-radius: 0px;
  }

  .container__86bf6,
  .container__86ab2,
  .theme-dark.custom-user-profile-theme {
    border-radius: var(--borderRadius-glass-2);
  }

  .modalContent__468a6 {
    --space-4: 20px;
  }

  .scrollableContent__927fc {
    padding-top: 10px;
  }

  .header__0856d {
    box-shadow: none;
  }

  .unicodeShortcut_b9ee0c,
  .standardStickerShortcut__3ad28,
  .inspector_aeaaeb {
    border-top: var(--border-glass-1);
  }

  .sourceScroller_a2de16,
  .footer__49fc1 {
    border-top: var(--border-glass-1);
    padding-top: 1rem;
  }

  .header__7f727,
  .header__0856d,
  .header_c0e32c,
  .header__8ef02,
  .header_fed6d3,
  .searchBarContainer__927fc,
  .top_b3f026,
  .container_f37cb1,
  .container__9293f,
  .searchBar__35e86,
  .wrapper_cb9592,
  .guildSeparator__252b6,
  .panel__5dec7 {
    border-bottom: var(--border-glass-2);
  }

  .searchResultsWrap_a9e706,
  .user-profile-sidebar,
  .members_c8ffbb {
    border-left: var(--border-glass-1);
    border-bottom-right-radius: var(--borderRadius-glass-1);
  }

  .rail_d1405b {
    border-right: var(--border-glass-2);
  }

  /* костыльный прозрачный фон за текстовым полем */
  .scroller__36d07 {
    height: calc(100% + 5rem);
    padding-bottom: 5rem;
  }

  .gradient_e9ef78,
  .container__9293f,
  .callContainer_cb9592,
  .subtitleContainer_f75fb0 {
    border-top-left-radius: var(--borderRadius-glass-1);
    border-top-right-radius: var(--borderRadius-glass-1);
  }

  /* .outer_c0bea0, */
  .banner__68edb {
    border-radius: 0px;
  }

  .contentRegion__23e6b {
    padding-inline: 1rem;
    backdrop-filter: var(--blur-glass-1);
    background: var(--bg-transparent-1);
    border-left: var(--border-glass-1);
  }

  .side_b3f026 {
    padding: 1rem;
    background: var(--bg-transparent-1);
    border: var(--border-glass-1);
    /* box-shadow: var(--shadow-glass-1); */
    border-radius: var(--borderRadius-glass-1);
    backdrop-filter: var(--blur-glass-1);
  }

  .scroller_ac6cb0,
  .gradientBackground__11664,
  .gradientBackground__11664>div,
  .streamPreview__6da2d,
  .container__2637a,
  .children__9293f:after,
  .sidebar_c48ade:after {
    background: none;
  }

  .joinButton__5aa3a {
    color: var(--text-custom-main);
    border: var(--border-glass-1);

    &>div {
      mix-blend-mode: difference;
    }
  }

  .muted__20a53,
  [class*="input_"]::placeholder,
  input::placeholder,
  .placeholder__1b31f {
    font-weight: 500;
    color: var(--text-custom-muted);
  }

  .icon__2ea32,
  .linkButtonIcon__972a0,
  .icon__9293f {
    color: var(--icons-color-main);
  }

  .addStatusPrompt_ab8609 {
    color: var(--text-custom-muted);
  }

  .standardStickerShortcut__3ad28,
  .unicodeShortcut_b9ee0c {
    backdrop-filter: var(--blur-glass-3);
  }

  .popout__3f413 {
    margin-top: 0;
  }

  .popout__3f413.popoutPositionTop__3f413 {
    margin-bottom: 0;
  }

  .container_a55fdc,
  .border_a55fdc {
    box-shadow: none;
  }
}

.bar_a562c8 {
  background-color: color-mix(in srgb, var(--text-custom-muted) 50%, #00000000) !important;

  .barFill_a562c8 {
    background-color: var(--text-custom-main);
  }
}

.popover__2d0ab,
.container_ab8609 {
  /* background: var(--bg-transparent-1); */
  border: var(--border-glass-2) !important;
  border-radius: var(--borderRadius-glass-1);
  backdrop-filter: var(--blur-glass-2);
}

.chat_f75fb0 {
  border-radius: var(--borderRadius-glass-1);
}

.fullRegionDropdownButton_f1ceac,
.streamPreview__6da2d,
.fullRegionButton_f1ceac {
  border-radius: var(--borderRadius-glass-2);
}

.submenuPaddingContainer_c1e9c4,
.streamPreviewWrapper__6da2d {
  padding: 0 !important;
}

.outer_ab8609,
.callContainer_cb9592 {
  border: none !important;
}

.popout__76f04,
.container__4e30a {
  margin-left: 0;
  background: none;
}

.popoutWrapper_d6b206 {
  margin-bottom: 0;
}

.spoilerMarkdownContent__54ab5.hidden__54ab5 {

  & .obscuredBlockContent__54ab5,
  & .obscuredTextContent__54ab5 {
    pointer-events: all;
  }
}

.content__56fec {
  mask-image: none;
  -webkit-mask-image: none
}