/* 
 * Cluarain`s custom codebase for rewrite Discords`s rules
 */

:root {
  --main-padding: 2rem;
  --main-gap: 1.5rem;
  --padding-guilds: 1rem;

  --text-main: rgba(255, 255, 255, .8);
  /* --text-main: rgba(0, 0, 0, .8); */

  --text-tertiary: var(--text-main) !important;
  --channels-default: var(--text-main) !important;
  --text-muted: rgba(255, 255, 255, .5) !important;

  --icons-color-main: rgba(255, 255, 255, .5) !important;

  --gap-glass-1: 1rem;

  /* --background-surface-higher: rgba(0, 0, 0, .3) !important; */
  /* --background-mod-subtle: rgba(0, 0, 0, .3) !important; */
  --background-surface-higher: transparent;
  --background-mod-subtle: transparent;

  --background-floating: transparent;
  --background-modifier-accent: transparent;
  --black: transparent;
  --neutral-5: rgba(255, 255, 255, .9) !important;
  --neutral-69: transparent;
  --neutral-72: transparent;
  --neutral-73: transparent;
  --neutral-76: transparent;
  --neutral-79: var(--bg-transparent-4);
  --neutral-80: transparent;
  --neutral-81: transparent;
  --neutral-82: transparent;
  --neutral-86: transparent;
  --neutral-92: transparent;

  /* прозрачность для карточки пользователя */
  /* --plum-15: transparent; */
}

.scroller__99e7c {
  margin: 0 !important;
}

.base_c48ade {
  grid-template-areas:
    "titleBar titleBar titleBar"
    "notice notice notice"
    "guildsList channelsList page" !important;
}

.content_c48ade {
  padding: calc(var(--main-padding)/2) var(--main-padding) var(--main-padding) var(--main-padding) !important;

  /* Чтобы не обрезелась тень */
  &>div {
    overflow: visible !important;
    height: 94vh !important;
  }
}

.appMount__51fd7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-image);
  filter: var(--bg-filter);
}

.bar_c38106 {
  z-index: 99999;
  border-bottom: var(--border-glass-3);
  background: var(--bg-transparent-3);
  backdrop-filter: var(--blur-glass-3);
}

.layerContainer_da8173 .tooltipPointer__382e7 {
  display: none !important;
}


.guilds_c48ade,
.page_c48ade,
.panels_c48ade,
.sidebarList_c48ade,
.experimentWrapper__1405b>div {
  background: var(--bg-transparent-1) !important;
  border: var(--border-glass-1) !important;
  box-shadow: var(--shadow-glass-1) !important;
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-1) !important;
  flex: none !important;
}

.bd-addon-card,
.container__3a5a1,
.layerContainer_da8173>div>div>div:not(.chat_ee72fa),
.buttonsInner__5126c,
.participantsButton__211d1,
.tile_d6271c,
.embedFull__623de,
.channelTextArea_f75fb0,
.drawerSizingWrapper__08434,
.messageGroupWrapper__45690 {
  background: var(--bg-transparent-2) !important;
  border: var(--border-glass-1) !important;
  /* box-shadow: var(--shadow-glass-2) !important; */
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-2) !important;
}


.itemCard__7e549,
.searchBar__5ec2f {
  /* background: var(--bg-transparent-3) !important; */
  border: var(--border-glass-2) !important;
  border-radius: var(--borderRadius-glass-1) !important;
}

.jumpToPresentBar__0f481 {
  background: var(--bg-transparent-4) !important;
  border: var(--border-glass-2) !important;
  box-shadow: var(--shadow-glass-2) !important;
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-4) !important;
}


.channelTextArea_f75fb0 {
  /* background: var(--bg-transparent-3) !important; */
}

/* для автовысоты каналов */
/* .content__99f8c {
  height: auto !important;
} */

/* Для некоторых заголовков */
.actionRow__6981d,
.header__49fc1 {
  margin-bottom: 1rem;
}

.form_f75fb0 {
  padding: 0 !important;
  margin: 0 calc(var(--gap-glass-1)*2) 0 !important;
}

.sidebar_c48ade {
  grid-template-columns: var(--custom-guild-list-width) auto !important;
  gap: 0 calc(var(--main-gap));
  margin-right: var(--main-gap);


  &>.guilds_c48ade {
    padding-top: var(--padding-guilds) !important;
    height: fit-content;
    max-height: calc(100% - 215px - var(--padding-guilds) - var(--main-gap)) !important;
  }

  &>.sidebarList_c48ade {
    height: fit-content;
    max-height: calc(100% - 215px - var(--main-gap)) !important;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--main-gap));
    padding-bottom: 0 !important;

    &>.container__2637a {
      padding-bottom: 0 !important;
    }
  }

  &>.sidebarResizeHandle_c48ade {
    transform: translate(var(--main-gap), 0) !important;
  }

  &>.panels_c48ade {
    position: none !important;
    width: calc(var(--custom-guild-sidebar-width));
    left: 0 !important;
    bottom: 0 !important;
    max-height: fit-content;
    box-sizing: content-box;
  }
}

.wrapper_cb9592,
.guildSeparator__252b6,
.panel__5dec7,
.header__45690 {
  border-bottom: var(--border-glass-1) !important;
  /* background: var(--bg-transparent-2) !important; */
}


.container_f37cb1,
.container__9293f,
.searchBar__35e86 {
  border-bottom: var(--border-glass-1) !important;
}

.members_c8ffbb {
  border-left: var(--border-glass-1) !important;
  /* background: var(--bg-transparent-2) !important; */
  border-bottom-right-radius: var(--borderRadius-glass-1);
}

.sourceScroller_a2de16,
.footer__49fc1 {
  border-top: var(--border-glass-1) !important;
  /* background: var(--bg-transparent-2) !important; */
  padding-top: 1rem;
}

/* костыльный прозрачный фон за текстовым полем */
.scroller__36d07 {
  height: calc(100% + 5rem) !important;
  padding-bottom: 5rem !important;
}

.container__9293f,
.callContainer_cb9592,
.subtitleContainer_f75fb0 {
  border-top-left-radius: var(--borderRadius-glass-1);
  border-top-right-radius: var(--borderRadius-glass-1);
}

.chat_f75fb0 {
  border-radius: var(--borderRadius-glass-1);
}

.streamPreviewWrapper__6da2d {
  padding: 0 !important;
}

.callContainer_cb9592 {
  border: none !important;
}

.menu_c1e9c4,
.container__2637a,
.children__9293f:after,
.sidebar_c48ade:after {
  background: none !important;
}

.joinButton__5aa3a {
  color: var(--text-main) !important;
  border: var(--border-glass-1) !important;
}


.muted__20a53,
.input_a45028::placeholder,
.placeholder__1b31f {
  font-weight: 500;
  color: var(--text-muted) !important;
}

.icon__2ea32,
.linkButtonIcon__972a0,
.icon__9293f {
  color: var(--icons-color-main) !important;
}

.contentColumn__23e6b {
  padding-top: calc(60px - 36px);
  padding-inline: 1rem;
  backdrop-filter: var(--blur-glass-1) !important;
  background: var(--bg-transparent-1) !important;
}

.side_b3f026 {
  padding: 1rem;
  background: var(--bg-transparent-1) !important;
  border: var(--border-glass-1) !important;
  box-shadow: var(--shadow-glass-1) !important;
  border-radius: var(--borderRadius-glass-1) !important;
  backdrop-filter: var(--blur-glass-1) !important;
}